@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Workbench&display=swap');
*{
}
.whole{
	margin: 0px;
	padding: 0px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.input{
	
	font-family: 'Work Sans', sans-serif;
	padding-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.box{
	font-family: 'Work Sans', sans-serif;
	border: 2px solid #f0f0f0;
	padding: 0px 10px;
	margin: 2% 30%;
	 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bar{
	 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: #363945;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10px;
}
.header{
	padding: 0 20px;
}
.otherele{
	display: flex;
}
.otherele > p {
	padding: 10px;
}
.logo{
	font-family: 'Workbench', sans-serif;
}
.input{
	padding-top: 50px;
}
.inp{
	padding:10px;
}
.search{
	padding: 13px;
	border: none;
}
/***
 * this is for loader taken from internet
 */
.loader{
	padding-left: 20px;
}
.dot-elastic {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #b4b4b4;
  color: #f0f0f0;
  animation: dot-elastic 1s infinite linear;
}
.dot-elastic::before, .dot-elastic::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}
.dot-elastic::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #b4b4b4;
  color: #9880ff;
  animation: dot-elastic-before 1s infinite linear;
}
.dot-elastic::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #b4b4b4;
  color: #9880ff;
  animation: dot-elastic-after 1s infinite linear;
}

@keyframes dot-elastic-before {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1.5);
  }
  50% {
    transform: scale(1, 0.67);
  }
  75% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes dot-elastic {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 1.5);
  }
  75% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes dot-elastic-after {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 0.67);
  }
  75% {
    transform: scale(1, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
